@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------------------------------------------------------------------------------------------------
VARIABLES
---------------------------------------------------------------------------------------------------- */
:root {
    /* BASIC COLORS */
        --color-background: #2A374A;
        --color-text-primary: rgba(255, 255, 255, 0.96);
        --color-text-secondary: rgba(255, 255, 255, 0.72);
        --color-text-disabled: rgba(255, 255, 255, 0.24);
        --color-text-link: #4DB2EC;/*#FFF4CC;*/ /*rgba(9, 194, 195, 1.0);*/
        --color-text-header: #FFF4CC; /*#0192C9;*/
        --color-accent: #FF3F33;
        --color-footer: rgba(0, 0, 0, 0.24);
        --color-surface-primary: rgba(255, 255, 255, 0.04);

    /* BRAND COLORS */

    /* GRADIENTS */
        --color-gradient-one: linear-gradient(135deg, #1687C7, #4DB2EC);
        --color-gradient-two: linear-gradient(135deg, #322D6C, #544BB4);
        --color-gradient-three: linear-gradient(135deg, #FFEACC, #FFF4CC);
}


/* ----------------------------------------------------------------------------------------------------
MAIN
---------------------------------------------------------------------------------------------------- */
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 1.5;

    min-height: 100vh;
    margin: 0px;

    /*justify-content: space-between;
    align-items: space-between;*/

    background-color: var(--color-background);
    /*background: linear-gradient(110deg, #F0E2D0 60%, #E6CFB2 60%);*/
    color: var(--color-text-primary)
}

header {
    background-color: var(--color-footer);
}

main {
    display: flex;
    /*flex-grow: 1;*/

    margin-top: auto;
    margin-bottom: auto;
}
footer {
    margin-top: auto;
    padding: 24px;
    background-color: var(--color-footer);
    color: rgba(255, 255, 255, 0.60);
}

a {
    color: var(--color-text-link);
    text-decoration: none;
}
a :hover :active :visited {
    color: var(--color-text-link);
    text-decoration: none;
}
li::marker {
    color: var(--color-accent);
}

/* ----------------------------------------------------------------------------------------------------
LAYOUT
---------------------------------------------------------------------------------------------------- */
    .box {
        display: flex;
        flex: 1 1 288px;
        gap: 16px;
    }
    .box.row {
        flex-direction: row;
        flex: 1 1 288px;
    }
    .box.row.wrap {
        flex-wrap: wrap;
        flex: 1 1 288px;
    }
    .box.column {
        flex-direction: column;
        flex: 1 1 288px;
    }
    .box.center {
        justify-content: center;
        align-items: center;
    }
    .box.center.row {
        align-items: center;
    }
    .box.center.column {
        justify-content: center;
    }

/* ----------------------------------------------------------------------------------------------------
TYPOGRAPHY
---------------------------------------------------------------------------------------------------- */
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
        color: var(--color-text-header);
    }
    h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 48px;
        font-weight: 300;
    }
    h2 {
        font-size: 40px;
        font-weight: 300;
    }
    h3 {
        font-size: 33px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 23px;
    }
    h6 {
        font-size: 19px;
    }
    .typography__body1 {
        font-size: 14px;
    }
    .typography__body2 {
        font-size: 12px;
    }
    .typography__text--secondary {
        color: var(--color-text-secondary);
    }
    .typography__text--disabled {
        color: var(--color-text-disabled);
    }
    .typography__text--accent {
        color: var(--color-accent);
    }
    h1.typography__display {
        font-weight: 300;
        margin: 0px;
    }
    h5.typography__display {
        font-weight: 300;
        margin-bottom: 0px;

    }
    .typography--bold {
        font-weight: 700;
    }

/* ----------------------------------------------------------------------------------------------------
ADAPTIVE LAYOUT
---------------------------------------------------------------------------------------------------- */
    @media (max-width: 480px) {
        /* Mobile */
        .wrapper {
            padding: 16px;
        }
    }
    @media (min-width: 481px) and (max-width: 768px) {
        /* Tablet Portrait */
        .wrapper {
            padding: 24px;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        /* Tablet Landscape */
        .wrapper {
            padding: 32px;
        }
    }
    @media only screen and (min-width: 1025px) and (max-width: 1600px) {
        /* Laptop */
        .wrapper {
            max-width: 960px;
            margin: 0 auto;
        }
    }
    @media only screen and (min-width: 1601px) {
        /* Desktop */
        .wrapper {
            max-width: 1280px;
            margin: 0 auto;
        }
    }
section {
    border-bottom: rgba(63, 48, 39, 0.08) 1px solid;
    padding-bottom: 64px;
}
#cover {
    justify-content: center;
    min-height: 80vh;
    border-bottom: rgba(63, 48, 39, 0.08) 1px solid;
    padding-bottom: 0px;
}
#contacts {
    margin-bottom: 64px;
    border-bottom: none;
}
#action-button {
    margin-top: 16px;
}


/* ----------------------------------------------------------------------------------------------------
COMPONETS
---------------------------------------------------------------------------------------------------- */
.uibutton {
    display: inline-flex;
    flex-direction: row;
    min-height: 48px;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;

    padding: 8px 24px;
    border: #000 0px solid;
    border-radius: 32px;

    background-color: var(--color-text-link);
    color: var(--color-background);
}

.uicard {
    display: flex;
    flex-direction: column;
    flex: 1 1 288px;

    padding: 16px;
    border: 0px solid var(--color-surface-primary);
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;

    background-color: var(--color-surface-primary);
}

.uilinkbutton {
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    min-height: 48px;
    max-height: 48px;

    background-color: var(--color-text-link);
    color: var(--color-text-primary);

    border: 0px solid #000;
    border-radius: 48px;
    overflow: hidden;
}

/* ----------------------------------------------------------------------------------------------------
EXTRAS
---------------------------------------------------------------------------------------------------- */

#highlight-one {
    background: var(--color-gradient-one);
}
#highlight-two {
    background: var(--color-gradient-two);
}
#highlight-three {
    background: var(--color-gradient-three);
    color: var(--color-background);
}

#map__container {
    width: 100%;
    height: 100%;

    border: 0px solid #000;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}